<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/angular/angular.js"></script>

    <script src="app/wa-components.module.js"></script>
    <script src="./app/wa-list/wa-list.component.js"></script>

    <script src="./app/app.module.js"></script>
    <title>Document</title>
</head>

<body ng-app="app" ng-controller="AppController" ng-cloak>
    <div>
        Инструкция:
        1. npm install
        2. npm install browser-sync gulp --save-dev
        3. gulp serve
    </div>

    <wa-list title="'MyListBox'" >
        <wa-list-item ng-repeat="item in items">
            <div style="color: red" >
                <label>{{item.Title}}</label>
                <button ng-click="showUserName(item)">click</button>
            </div>
        </wa-list-item>
    </wa-list>
</body>

</html>
